* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-thumb {
  background-color: rgb(97, 97, 97); 
  border-radius: 6px; 
}


body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom, transparent 0%, black 140%),
    url("../images/header-image.jpg") center/cover no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-first {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 15%;
}
.title,
.title-explore,
.visit-more {
  display: block;
  font-family: OCR A Std, monospace;
  font-size: 5rem;
  letter-spacing: 5px;
  text-align: center;
}
.visit-more {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 80%;
  margin: 0px auto;
  cursor: pointer;
  animation: changeBorderColor 3s ease-in-out 0s infinite;
  transition: background-color 1s ease-in-out 0s;
  padding: 10px 0px;

  background: linear-gradient(to left, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 50%)
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.visit-more-link {
  color: white;
}
.visit-more:hover {
  background-position: left;
  background-color: white;
  color: black;

}
.hidden {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.sub-title {
  font-family: cursive;
  font-size: 1rem;
}

.game-img-container {
  width: 5000px;
  height: 100%;
}

.game-img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.game-img:hover {
  transform: scale(1.1);
}
.game_images {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.game_images:before,
.game_images:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.game_images:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.game_images:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.game_images:hover .game_slide {
  animation-play-state: paused;
}

.game_slide {
  display: flex;
  animation:  slide  15s linear infinite ;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.last-section {
  width: 80%;
  margin: 0px auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.recent-game-card {
  display: flex;
  height: 300px;
  width: 20%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.recent-card-img {
  width: 300px;
  height: 300px;
  border-radius: 5px 0px 0px 5px;
  object-fit: cover;
  transition: transform 0.2s ease-in;
}
.recent-card-img:hover {
  transform: scale(1.1);
}
.recent-card-overlay {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  height: 100%;
}
